@import "./variables";

// reset
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 13px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  // 见官网
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #999;
}
p {
  line-height: 1.5em;
}
// 颜色
@each $colorKey, $color in $colors {
  // .text-类
  .text-#{$colorKey} {
    color: $color;
  }
  // .bg-类
  .bg-#{$colorKey} {
    background-color: $color;
  }
}
// text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}
// 字体
// map的@each语法，keyvalue 键值对
@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

// 普通css定义
// text overflow
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// width, height
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
// ////////////////////////
// flex布局
// display-flex
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
// .jc-center  /.jc-around etc
@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}
// .ai-center .ai-items
@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}
.flex-1 {
  flex: 1;
}
.flex-grow-1 {
  flex-grow: 1;
}

// //////////////////////////////////
// 边距 m：margin
// m-0, mx-0 左右  my上下
@each $typeKey, $type in $spacing-types {
  // .m-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }
  // .mx-1 , .my-1
  @each $sizeKey, $size in $spacing-sizes {
    // 插值语句   #{$var}
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }
  // .mt-1
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

// button
.btn {
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($font-sizes, "sm") * $base-font-size;
  padding: 0.2rem 0.6rem;
  &.btn-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: map-get($colors, "primary");
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
    background: map-get($colors, "white-1");
    border: 1px solid map-get($colors, "white-2");
    padding: 0.8rem 1rem;
    font-size: 1rem;
  }
}

// nav 下端白线 活跃样式
// nav
// nav
.nav {
  display: flex;

  .nav-item {
    border-bottom: 3px solid transparent;
    padding-bottom: 0.2rem;
    &.active {
      color: map-get($colors, "primary");
      border-bottom-color: map-get($colors, "primary");
    }
  }
  &.nav-inverse {
    .nav-item {
      color: map-get($colors, "white");
      &.active {
        border-bottom-color: map-get($colors, "white");
      }
    }
  }
}

// sprite
.sprite {
  background: url(../images/index.png) no-repeat 0 0;
  background-size: 28.8462rem;
  display: inline-block;

  &.sprite-blz {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.546% 15.517%;
  }
  &.sprite-gsz {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 90.483% 15.614%;
  }
  &.sprite-zbsc {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 36.746% 0.924%;
  }
  &.sprite-tyf {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 10.408% 15.517%;
  }
  &.sprite-xrzq {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 89.733% 1.266%;
  }
  &.sprite-rycc {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 36.467% 15.287%;
  }
  &.sprite-wzyd {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.3% 0.927%;
  }
  &.sprite-gzh {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 36.746% 0.924%;
  }
  &.sprite-arrow {
    width: 0.7692rem;
    height: 0.7692rem;
    background-position: 38.577% 52.076%;
  }
}

.icon {
  background: url(../images/index.png) no-repeat 0 0;
  background-size: 28.8462rem;
  display: inline-block;
  &.icon-etc {
    width: 1.3846rem;
    height: 0.2308rem;
    background-position: 47.619% 56.305%;
  }
  &.icon-news {
    width: 1rem;
    height: 1rem;
    background-position: 0.138% 50.452%;
  }
  &.icon-hero {
    width: 0.9231rem;
    height: 1rem;
    background-position: 46.768% 60.452%;
  }
}
